NODE_ENV=development
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=kafka-consumer
KAFKA_GROUP_ID=kafka-consumer-group
KAFKA_TOPIC=example-topic
KAFKA_ENSURE_TOPICS_ENABLED=false
# KAFKA_SECONDARY_GROUP_ID=kafka-secondary-consumer-group
# KAFKA_SECONDARY_TOPIC=example-secondary-topic
KAFKA_SSL_ENABLED=false
KAFKA_SSL_REJECT_UNAUTHORIZED=true
# KAFKA_SSL_CA=base64-encoded-ca
# KAFKA_SSL_CERT=base64-encoded-client-cert
# KAFKA_SSL_KEY=base64-encoded-client-key
# KAFKA_SSL_PASSPHRASE=changeit
KAFKA_SASL_ENABLED=false
KAFKA_SASL_MECHANISM=plain
# KAFKA_SASL_USERNAME=username
# KAFKA_SASL_PASSWORD=password
MANUAL_API_PORT=3000
LOG_LEVEL=info
LOG_PATH=./logs
LOG_TO_FILE=false
LOG_CHANNEL=kafka-consumer
LOG_PRODUCT=kafka-consumer
SERVICE_TYPE=consumer
